.link-area a,
.link-area-code a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  display: block;
  background-color: rgba(255, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 20px;
  width: 130px;
  text-align: center;
  margin: 0 10px 0;
}
.portfolio-image {
  position: relative;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.portfolio-image::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(135, 206, 235, .5);
  width: 0;
  height: 0;
  border-radius: 5px;
}
.link-area {
  visibility: hidden;
  position: absolute;
  bottom: -25%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease-in;
}
.link-area-code {
  visibility: hidden;
  position: absolute;
  bottom: -25%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease-in;
}
.portfolio-image:hover .link-area {
  visibility: visible;
  bottom: 50%;
}
.portfolio-image:hover::before{
  height: 100%;
  width: 100%;
}
.portfolio-image:hover .link-area-code,
.portfolio-image:active .link-area-code,
.portfolio-image:focus .link-area-code {
  visibility: visible;
  bottom: 40%;
}
